# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [81]:
country = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
data = {'國家': country ,
        '人口': np.random.randint(100000000,size=len(country))}
df_country = pd.DataFrame(data)
df_country

   國家        人口
0   A  94742936
1   B  81405945
2   C  89206814
3   D  29223933
4   E  21314165
5   F  37191960
6   G  54171683
7   H  99339068
8   I   8222765
9   J  45118615
10  K  36146868
11  L  58188091
12  M   8699948
13  N  87788658
14  O  37395037
15  P  54806600
16  Q  69555246
17  R   5956234
18  S  28398563
19  T  74833370
20  U  97387129
21  V  91765632
22  W    204424
23  X  76304325
24  Y  42195063
25  Z  48952347

In [82]:
df_country.sort_values(by='人口', ascending=False, inplace=True)

In [83]:
rowCnt = df_country.shape[0]
df_country.index = range(rowCnt)

In [84]:
df_country.loc[0]

國家           H
人口    99339068
Name: 0, dtype: object